/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*starts here*/

/* html */

html {
  font-style: Monospace;
}

@media only screen and (max-width: 1601px) {
  nav p  {
    font-size: 36px;
  }

  nav img {
    width: 100px;
  }
}

@media only screen and (max-width: 1201px) {
  nav p  {
    font-size: 32px;
  }

  nav img {
    width: 80px;
  }
}

@media only screen and (max-width: 993px) {
  nav p  {
    font-size: 24px;
  }

  nav img {
    width: 60px;
  }
}

@media only screen and (max-width: 769px) {
  nav p  {
    font-size: 20px;
  }

  nav img {
    width: 50px;
  }
}

@media only screen and (max-width: 546px) {
  nav p  {
    font-size: 16px;
  }

  nav img {
    width: 40px;
  }
}

/* navbar section*/
#nav {
  background-color: rgb(21, 31, 114);
}

nav img {
  max-width: 100px;
}

nav p {
  color: white;
  font-weight: bold;
  margin: 0; /* Remove default margins to improve spacing */
}

/* main section */

#main-converter, #main-table, footer {
  background-color: rgb(21, 31, 114);
}

.linkedin {
  margin: 10px;
  font-size: large;
}